// to be used in base/_variables
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

// form font-awesome gem
// @import "font-awesome-sprockets";
// @import "font-awesome";

// thoughbot UX stack
@import "bourbon";
@import "base/base";
@import "neat";

@import "garments";

html.turbolinks-progress-bar::before {
  background-color: $action-color !important;
  height: 3px !important;
}

body {
  margin: 0em;
  padding: 10px;

  .alert{
     width: 100%;
     margin: 2em auto;
     padding: .5em;
     text-align: center;
     a {
       font-weight: bold;
     }
  }
  .alert-notice{
    background-color: lighten($action-color, 20%);
    color: white;
  }
  .alert-alert{
    background-color: lighten($warning-color, 20%);
    color: black;
  }
  .alert-success{
    background-color: lighten($success-color, 20%);
    color: white;
  }
  .alert-error{
    background-color: lighten($danger-color, 20%);
    color: white;
  }
  .danger{
    color: $danger-color;
  }

  #main {
    @include outer-container(80%);
  }

  form {
    // Replace with simple_form friendly styles
    @include span_columns(8);
    #error_explanation{
      @include padding(1em);
      color: $danger-color;
    }
    .field {
      label{
       text-align: right;
      }
      input, select, label, .field_with_errors{
        @include span_columns(4 of 8);
      }
      .field_with_errors {
        input, select, label{ width: 100% }
      }
      input, select, .field_with_errors:nth-child(2) {
        @include omega();
      }
      .field_with_errors {
        label{
          color: $danger-color;
        }
        input, select {
          outline: 1px solid $danger-color;
        }
      }
    }
  }
}
